@font-face {
  font-family: "Amazon";
  src: url("./assets/fonts/Amazon-Ember-Medium.ttf");
}

@font-face {
  font-family: "Amazon-light";
  src: url("./assets/fonts/AmazonEmber_Lt.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Amazon", Helvetica, sans-serif;
}

:root {
  --amazon-button: #f0c14b;
  --yellow: #f7ca00;
  --darkblue: #232f3e;
  --lightgray: #f3f3f3;
  --gray: rgb(97, 96, 96);
  --blue: #0066c0;
  --orange: #c7511f;
  --black: #0f1111;
  --green: #007600;
  --red: #c40000;
}

button {
  font-family: "Amazon-light";
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--orange);
  border-radius: 3px;
  outline-color: var(--orange);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 183, 0, 0.293),
    var(--amazon-button)
  );
}

button:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 183, 0, 0.5),
    var(--amazon-button)
  );
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

a,
a:visited,
a:focus,
a:active {
  color: white;
  text-decoration: none;
  width: fit-content;
}
ul,
li {
  list-style: none;
}

select {
  outline: orange;
}

.nav--hover {
  padding: 0.4rem;
  height: 49px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.nav--hover:hover {
  border-color: white;
}

/* Hover Transitions */

@keyframes fadeAway {
  0% {
    transform: translateY(-100%);
    opacity: 1;
    z-index: -1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    z-index: -1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Loader Div */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 27px;
  height: 27px;
  animation: spin 2s linear infinite;
}
